.rec-workspace {
  position: relative;
}

.rec-svg-overlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.rec-node {
  margin-top: 6rem;
  position: relative;
  display: flex;
  justify-content: center;
  &.draw-outline {
    &>svg {
      position: absolute;
      top: 0;
      left: 0;
      overflow: visible;
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        height: 100%;
        width: 1px;
        background-color: red
      }
    }
  }
}
